<main class="mb-5">
    <div class="card bg-warning-subtle border-5 rounded-4 border-dark">
        <div class="card-header bg-warning rounded-top-3 pt-0">
            <h1 class="display-3 fw-bold mb-1">{{name}}</h1>
            <p class="fst-italic mb-2">
                Created by {{history.founder}} in {{history.year}}
            </p>
        </div>
        <div class="card-body rounded-3">
            <div class="card-title mb-3">
                <h2 class="h1">About {{name}}:</h2>
                <p class="fs-6">
                    {{description}}
                </p>
            </div>
            <div class="row justify-content-center g-3">
                <div class="col-auto">
                    {{> list-js text='Data types' var=types body='bg-dark' header='bg-warning' text-color='text-light'}}
                </div>
                <div class="col-auto">
                    <div class="card bg-dark border-5 rounded-4 border-dark h-100">
                        <div class="card-header bg-warning rounded-top-3 pb-1">
                            <h3>Syntax</h3>
                        </div>
                        <div class="card-body text-light ps-1 pt-2 pb-0">
                            {{#with syntax}}
                                <ul>
                                    {{> syntax title='Variables' data=variables}}
                                    {{> syntax title='Functions' data=functions}}
                                    {{> syntax title='Conditionals' data=conditionals}}
                                    {{> syntax title='Loops' data=loops}}
                                    {{> syntax title='Classes' data=classes}}
                                </ul>
                            {{/with}}
                        </div>
                    </div>
                </div>
                <div class="col">
                    {{> list-js text='Tools' var=tools body='bg-dark' header='bg-warning' text-color='text-light'}}
                </div>
                <div class="col">
                    {{> list-js text='Libraries' var=libraries body='bg-dark' header='bg-warning' text-color='text-light'}}
                </div>
                <div class="col-9">
                    {{> list-js text='Features' var=features i=true body='bg-dark' header='bg-warning' text-color='text-light'}}
                </div>
                <div class="col-12">
                    <div class="card bg-dark border-5 rounded-4 border-dark">
                        <div class="card-header bg-warning rounded-top-3 pb-1">
                            <h3>Community</h3>
                        </div>
                        <div class="card-body rounded-bottom-3 pb-2">
                            <div class="row">
                                {{#each community}}
                                    <div class="col">
                                        <div class="h6 text-capitalize text-light mb-2">{{type}}:</div>
                                        <button class="btn btn-warning mb-2">
                                            <span class="fw-bold">{{name}}</span>
                                        </button>
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>