<header>
    <h1 class="display-3 fw-bold">{{name}}</h1>
    <div class="fst-italic mb-2">
        Created by {{history.founder}} in {{history.year}}
    </div>
    <p>
        {{description}}
    </p>
</header>

<main class="mb-5">
    <h2>About {{name}}:</h2>
    {{> list-js text='Data types:' var=types}}
    <section>
        {{> title data='Syntax:'}}

        {{#with syntax}}
            <ul>
                {{> syntax title='Variables' data=variables}}
                {{> syntax title='Functions' data=functions}}
                {{> syntax title='Conditionals' data=conditionals}}
                {{> syntax title='Loops' data=loops}}
                {{> syntax title='Classes' data=classes}}
            </ul>
        {{/with}}
    </section>
    {{> list-js text='Features:' var=features i=true}}
    {{> list-js text='Libraries:' var=libraries}}
    {{> list-js text='Tools:' var=tools}}

    <div class="card border-5 rounded-4 border-dark">
        <div class="card-body bg-warning-subtle rounded-3 pt-2">
            <div class="h2 mb-3">Community</div>
            <div class="row">
                {{#each community}}
                    <div class="col">
                        <div class="h6 text-capitalize mb-2">{{type}}:</div>
                        <button class="btn btn-warning">
                            <span class="fw-bold">{{name}}</span>
                        </button>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</main>