<header>
    <h1>{{name}}</h1>


    <div>
        <i>
            Created by
            {{#with history}}
            {{founder}} in {{year}}
            {{/with}}
        </i>
    </div>

    <br />

    <p>
        {{description}}
    </p>
</header>

<main>
    <hr />

    <h2>About {{name}}:</h2>

    {{> list-js text='Types:' var=types}}

    <section>
        {{> title data='Syntax:'}}

        {{#with syntax}}
        <ul>
            {{> syntax title='Variables' data=variables}}
            {{> syntax title='Functions' data=functions}}
            {{> syntax title='Conditionals' data=conditionals}}
            {{> syntax title='Loops' data=loops}}
            {{> syntax title='Classes' data=classes}}
        </ul>
        {{/with}}
    </section>

    {{> list-js text='Features:' var=features i=true}}

    {{> list-js text='Libraries:' var=libraries}}

    {{> list-js text='Tools:' var=tools}}

    <hr />
</main>

<footer>
    {{> title data='Community:' big=true}}

    <ul>
        {{#each community}}
        <li>
            <i>{{name}}</i> ({{type}});
        </li>
        {{/each}}
    </ul>
</footer>