<header class="text-center">
    {{#with page_header}}
        <h1>{{title}}</h1>
        <p class="text-uppercase">{{description}}</p>
    {{/with}}
</header>

<main>
    {{#with section}}
        <section class="card mb-3">
            {{#with about_us}}
                <div class="card-body pt-2">
                    <div class="text-end mb-4">
                        {{#with title_list}}
                            <div class="card-title display-6">{{main}}</div>
                            <p class="card-text h2">{{sub}}</p>
                        {{/with}}
                    </div>
                    <div>
                        <button class="btn btn-outline-info">{{button.text}}</button>
                    </div>
                </div>
            {{/with}}
        </section>

        <section class="card mb-3">
            {{#with advantage}}
                <div class="card-body pt-2 pb-1">
                    <div class="card-title display-5 mb-3">{{title}}</div>
                    <div class="card mb-3">
                        {{#with efficiency}}
                            <div class="card-body pt-1">
                                <div class="text-start">
                                    <div class="card-title display-4 mb-3">{{title}}</div>
                                    <div class="h6 mb-3">{{sub_title}}</div>
                                    <p class="mb-3">{{description}}</p>
                                </div>
                                <div>
                                    <button class="btn btn-outline-warning">{{button}}</button>
                                </div>
                            </div>
                        {{/with}}
                    </div>
                    <div class="card mb-3">
                        {{#with innovation}}
                            <div class="card-body pt-1">
                                <div class="text-center">
                                    <div class="card-title display-4 mb-3">{{title}}</div>
                                    <div class="h6 mb-3">{{sub_title}}</div>
                                    <p class="mb-3">{{description}}</p>
                                </div>
                                <div>
                                    <button class="btn btn-outline-warning">{{button}}</button>
                                </div>
                            </div>
                        {{/with}}
                    </div>
                    <div class="card mb-3">
                        {{#with collaboration}}
                            <div class="card-body pt-1">
                                <div class="text-end">
                                    <div class="card-title display-4 mb-3">{{title}}</div>
                                    <div class="h6 mb-3">{{sub_title}}</div>
                                    <p class="mb-3">{{description}}</p>
                                </div>
                                <div>
                                    <button class="btn btn-outline-warning">{{button}}</button>
                                </div>
                            </div>
                        {{/with}}
                    </div>
                </div>
            {{/with}}
        </section>

        <section class="card">
            {{#with agreement}}
                <div class="card-body pt-2">
                    <div class="card-title display-5">{{title}}</div>
                    <div class="card">
                        {{#with info}}
                            <div class="card-body pt-2">
                                <div class="card-title h5 mb-3">{{sub_title}}</div>
                                <div class="card">
                                    {{#with detail}}
                                        <div class="card-body">
                                            <p>{{text}}</p>
                                            <button class="btn btn-success">{{button}}</button>
                                        </div>
                                    {{/with}}
                                </div>
                            </div>
                        {{/with}}
                    </div>
                </div>
            {{/with}}
        </section>
    {{/with}}
</main>