<main>
    <section class="card">
        <div class="card-body">
            {{#with heading}}
                <div class="row row-cols-3 g-3">
                    <section class="col">
                        <div class="card h-100">
                            {{#with main}}
                                <div class="card-header h3">{{title}}</div>
                                <div class="card-body py-2">
                                    <p class="card-text">{{text}}</p>
                                </div>
                                <div class="card-footer py-3">
                                    <div class="row g-3">
                                        {{#with button_text}}
                                            <div class="col">
                                                <button class="btn btn-primary">
                                                    {{solid}}
                                                </button>
                                            </div>
                                            <div class="col">
                                                <button class="btn btn-outline-primary">
                                                    {{outline}}
                                                </button>
                                            </div>
                                        {{/with}}
                                    </div>
                                </div>
                            {{/with}}
                        </div>
                    </section>
                    <section class="col">
                        <div class="card h-100">
                            {{#with second}}
                                <div class="card-header h3">{{title}}</div>
                                <div class="card-body py-2">
                                    <p class="card-text">{{text}}</p>
                                </div>
                                <div class="card-footer py-3">
                                    <div class="row g-3">
                                        {{#with button_text}}
                                            <div class="col">
                                                <button class="btn btn-secondary">
                                                    {{solid}}
                                                </button>
                                            </div>
                                            <div class="col">
                                                <button class="btn btn-outline-secondary">
                                                    {{outline}}
                                                </button>
                                            </div>
                                        {{/with}}
                                    </div>
                                </div>
                            {{/with}}
                        </div>
                    </section>
                    <section class="col">
                        <div class="card h-100">
                            {{#with subblock}}
                                <div class="card-header h3">{{title}}</div>
                                <div class="card-body py-2">
                                    <p class="card-text">{{text}}</p>
                                </div>
                                <div class="card-footer py-3">
                                    <div class="row g-3">
                                        {{#with button_text}}
                                            <div class="col">
                                                <button class="btn btn-dark">
                                                    {{solid}}
                                                </button>
                                            </div>
                                            <div class="col">
                                                <button class="btn btn-outline-dark">
                                                    {{outline}}
                                                </button>
                                            </div>
                                        {{/with}}
                                    </div>
                                </div>
                            {{/with}}
                        </div>
                    </section>
                </div>
            {{/with}}
        </div>
    </section>

    <section class="card my-3">
        {{#with nested_display}}
            <div class="card-body pt-0">
                <div class="display-1 mb-2">{{title}}</div>
                <section class="card mb-3">
                    {{#with children_display}}
                        <div class="card-body pt-1">
                            <div class="display-4 card-title">{{title}}</div>
                            <p>{{text}}</p>
                            <button class="btn btn-outline-warning">
                                {{button.text}}
                            </button>
                        </div>
                    {{/with}}
                </section>
                <div class="h6">{{header_text}}</div>
                <button class="btn btn-info">
                    <span class="text-light">{{button.text}}</span>
                </button>
            </div>
        {{/with}}
    </section>

    <section class="card">
        {{#with paragraph}}
            <div class="card-body">
                <div class="h6 text-uppercase">{{title}}</div>
                <p class="text-lowercase mb-0">{{text}}</p>
                <div class="mb-2">
                    {{#with button}}
                        <a href="{{url}}" class="btn btn-link ps-0">
                            {{text}}
                        </a>
                    {{/with}}
                </div>
                <section class="card">
                    <ul class="card-body pt-3 pb-1">
                        {{#each list_name}}
                            <li class="list-group-item">
                                <a href="{{url}}" class="btn btn-link">
                                    {{text}}
                                </a>
                            </li>
                        {{/each}}
                    </ul>
                </section>
            </div>
        {{/with}}
    </section>
</main>