<main>
    {{#with main}}
    <section>
        <div class="mb-3">
            {{> title big=true data='Work history'}}
        </div>
        <ul>
            {{#each works}}
            <li class="mb-4">
                <section>
                    <div>
                        {{position}}
                    </div>
                    <div>
                        <time>
                            {{duration.from}}
                            –
                            {{#if duration.to}}
                            {{duration.to}}
                            {{else}}
                            Now
                            {{/if}}
                        </time>
                    </div>
                    <div class="my-2">
                        {{#with company}}
                        {{#if url}}
                        {{> link href=url text=name blank=true noLine=true}}
                        {{else}}
                        <b>{{name}}</b>
                        {{/if}}
                        {{/with}}
                    </div>
                </section>

                <section>
                    <div>
                        <strong>Projects({{projectAmount}}):</strong>
                    </div>
                    <ul>
                        {{#each projects}}
                        <li>
                            <div class="mt-1">
                                {{> link href=url text=name blank=true noLine=true}}
                            </div>
                            <p class="mb-2">{{about}}</p>
                            <div class="ms-5">
                                <div class="mb-1">
                                    <div>
                                        <em>Project stacks({{stackAmount}}):</em>
                                    </div>
                                    <div>
                                        <ul>
                                            {{#each stacks}}
                                            <li>{{name}}</li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                </div>
                                <div class="mb-1">
                                    <div>
                                        <em>Project awards({{awardAmount}}):</em>
                                    </div>
                                    <div>
                                        <ul>
                                            {{#each awards}}
                                            <li>{{name}}</li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                </section>
            </li>
            {{/each}}
        </ul>
    </section>
    {{/with}}
</main>