<footer>
    {{#with footer}}
    <div class="btn-group">
        {{#with social}}
        <a href="{{email.href}}" target="_blank" class="btn btn-link p-0">{{email.text}}</a>
        <a href="{{phone.href}}" target="_blank" class="btn btn-link py-0 px-4">{{phone.text}}</a>
        <a href="{{linkedin.href}}" target="_blank" class="btn btn-link p-0">{{linkedin.text}}</a>
        {{/with}}
    </div>
    <div class="my-3">
        {{#with ../header.name}}
        <em>Copyright by {{firstname}} {{lastname}}</em>
        {{/with}}
    </div>
    <div>
        <address>{{../header.address}}</address>
    </div>
    {{/with}}
</footer>